@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passions+Conflict&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}



:root {
    --cor0: #099c41;
    --cor1: #63D471;
    --cor2: #D3E4CD;
    --cor3: #D8E9A8;
    --cor4: #4E9F3D;
    --cor5: #1E5128;
    --cor6: #191A19;

    --fonte-padrao:Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android:'Android', cursive;
}   

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, #099c41, #63D471);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.432);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.384);
}

nav {
    background-color: #1E5128;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.103) ;
}

nav > a {
    color: var(--cor3);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: #44e783;
    color: #15491f;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: #3f962e;
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: #4E9F3D;
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, #80f7b5, #cdf3cdbd, transparent);
    text-indent: 0;
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color:#1E5128;
    font-weight: bolder;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: #0ae94d;
}

main a:hover {
    text-decoration: underline;
    color: #1E5128;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: rgba(95, 240, 151, 0.192);
    margin: 0 -20px 30px -20px;
    padding: 20px ;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: #bee2c3;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.123);
}

aside h3 {
    background-color: #0f381f;
    color: white;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;

}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: #90C8AC;
    color: #0f381f;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #1A3C40;
}